.toolbar {
	overflow: visible;
}

.search {
	align-items: center;
	background: white;
	border-radius: 2rem;
	box-shadow: 0 0 1px black;
	display: flex;
	overflow: hidden;
	padding: 0.5rem;
}

.search-input {
	border-radius: 1rem;
	border: none;
	flex-grow: 1;
	font-weight: bold;
	padding: 0.5rem;
}

.search-input:focus {
	outline: none;
}

.selector-list {
	margin: 1rem 0;
	max-height: calc(100vh - 80px - 1rem);
	overflow-y: auto;
	padding-top: 10px;
}

.selector-list .card {
	margin-top: 1rem;
}

.selector-list-item {
	align-items: center;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0 0 1px black;
	column-gap: 0.5rem;
	cursor: pointer;
	display: flex;
	padding: 1rem;
}

.selector-list-item:not(:first-child) {
	margin-top: 0.5rem;
}
