* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	direction: rtl;
}

ul {
	list-style: none;
}

.container {
	height: 100vh;
	display: flex;
}

.toolbar,
.properties {
	background: #f7fbff;
	box-shadow: 0 0 1px rgb(0, 0, 0);
	flex-basis: 20%;
	flex-shrink: 0;
	transition: flex-basis 0.5s ease, padding 0.5s ease;
	overflow: auto;
	padding: 1rem;
}

.toolbar.is-collapsed,
.properties.is-collapsed {
	flex-basis: 0;
	overflow: hidden;
	padding: 0;
}

.card {
	box-shadow: 0 0 1px black;
	background-color: #eee;
	border-radius: 1rem;
	padding: 0.5rem;
}

.card .card-title {
	font-weight: bold;
	text-align: center;
}

.card .card-body {
	margin-top: 0.5rem;
}
